---
export interface Props {
	title: string;
	href: string;
	image: string;
	tags: Array<string>;
}

const { href, tags, title, image } = Astro.props;
---

<div class="portfolio-card">
	<div class="portfolio-card__image-wrapper">
		<img src={image} alt={title} />
	</div>
	<h3 class="portfolio-card__title text-h3">
		<a href={href} class="portfolio-card__link" target="_blank">{title}</a>
	</h3>
	<ul class="portfolio-card__tags">
		{
			tags.map((tag) => {
				return <li class="portfolio-card__tag">{tag}</li>;
			})
		}
	</ul>
</div>
